body {
    font-family: 'Cutive Mono', monospace;
    overflow-x: hidden; 
}

p {
    font-family: 'Cutive Mono', monospace;
}
a {
    color: #494546;
}

h1 {
    font-family: 'Cutive Mono', monospace;
    font-style: normal;
    font-weight: 300;
    text-align: center;
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.header {
    margin-bottom: 2em;
}

.info {
    margin: 0 auto 2em;
    color: #000;
    font: 300 12px/1.5em "Oswald", Arial, sans-serif;
    text-align: center;
}
.info a {
    color: #494546; 
    border-bottom: 1px dotted #494546;
    text-decoration: none; 
    white-space: nowrap;
}
.info a:hover,
.info a:focus,
.info a:active {
    color: #494546;
    opacity: 0.6;
}

#menu {
    margin-bottom: 2em; 
    text-align: center;
}
#menu li {
    display: inline-block; 
    margin-right: .5em; 
    padding-right: .5em; 
    border-right: 1px solid #ccc;
}
#menu li:last-child {
    border-right: none;
}
#menu li a {
    padding: 0;
    color: #494546; 
    background-color: transparent;
    font-family: "Oswald", Arial, sans-serif; 
    text-transform: uppercase;
    text-decoration: none; 
    opacity: 1.0;
}
#menu li a:hover,
#menu li a:focus,
#menu li a:active {
    background-color: transparent;
    opacity: 0.6;
}

.organization {
    margin-bottom: 1.75em;
}
h2.organization-name {
    margin: 0 0 .5em; 
    font-family: 'Cutive Mono', monospace;
    text-transform: uppercase; 
}

.project {
    margin-bottom: 2em;
}       
.project h3 {
    display: block; 
    margin: 0; 
    font-family: 'Cutive Mono', monospace; 
    text-transform: uppercase; 
}
.description {
    display: none;
}

.project a img {
    width: 100%;
}

/* transition effects

.project a img {
    width: 100%;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5); 
       -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5); 
            box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
    -webkit-transition: all .2s; 
       -moz-transition: all .2s; 
         -o-transition: all .2s; 
            transition: all .2s;
}
a.project-link:hover img,
a.project-link:focus img,
a.project-link:active img {
    opacity: 1.0;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 1.0); 
       -moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 1.0); 
            box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 1.0);
    -webkit-transition: all .2s; 
       -moz-transition: all .2s; 
         -o-transition: all .2s; 
            transition: all .2s;
}
*/

.header h1 {
    float: left;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#icon-list {
    padding-left: 0;
    float: right;
    padding-top: 28px;
}

#icon-list i {
    font-size: 22px;
    padding-right: 10px;
}

.category-label {
    font-family: 'Cutive Mono', monospace;
    font-size: 1.2em;
    text-transform: uppercase;
    padding: 5px;
    display: none;
}

#label-animation {
    color: white;
    background-color: #E81C7A;
}

#label-illustration {
    color: white;
    background-color: #38C9B1;
}

#label-design {
    color: black;
    background-color: #F2D53E;
}

div.project-wrapper {
    position: relative;
}

div.project-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: black;
    text-align: center;
    font-size: 2em;
    line-height: 1.2;
    display: none;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

#description-design {
    background: rgba(242, 213, 62, 0.9);
    color: black;
}

#description-animation {
    background: rgba(232, 28, 122, 0.9);
    color: white;
}

#description-illustration{
    background: rgba(56, 201, 177, 0.9);
    color: white;
}

.text-overlay {
    display: block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.project-description .text-overlay .category {
    font-size: .6em;
    text-transform: uppercase;
}

div.col-xs-3:hover .project-description{
    display: inline-block;
}

/*Media Queries*/

@media (max-width: 1000px) {
    .container {
        width:90%;
    }

    .col-xs-3 {
        width: 33.333%;
    }
}

@media (max-width: 800px) and (min-width: 600px) {
    div.project-description {
        font-size: 1.3em;
    }
}


@media (max-width: 600px) {
    .header h1 {
        float: none;
        text-align: center;
    }

    #icon-list {
        float: none;
        text-align: center;
    }

    .col-xs-3 {
        width: 100%;
    }
}