body {
  font-family: 'Work Sans', sans-serif;
}

.page-container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 2%;
  padding-bottom: 2%;
}

.site-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-left a,
.header-right a {
  text-decoration: none;
  color: #000000;
}

.header-left a:hover,
.header-right a:hover {
  text-decoration: underline;
}

.header-left {
  align-items: flex-start;
  text-transform: uppercase;
  font-weight: 300;
}

.header-right {
  align-items: flex-end;
  flex-direction: row;
  display: flex;
}

.header-right h1 {
  font-weight:  300;
}

.menu-right-1 {
  margin-right: 25px;
}

.portfolio-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 28px;
}

.display-image,
.portfolio-item {
  max-width: 100%;
}

.portfolio-item {
  position: relative;
}

.display-image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
  background-color: #262626;
}

.portfolio-item:hover .overlay {
  opacity: 0.9;
}

.portfolio-item:hover .hover-headline {
  opacity: 1;
}

.hover-headline {
  opacity: 0;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -70%);
  -ms-transform: translate(-50%, -70%);
  transform: translate(-50%, -70%);
  text-align: center;
  width: 320px;
  transition: 0.3s ease;
}


@media (min-width: 800px) and (max-width: 1225px) {
  .display-image,
  .portfolio-item {
    max-width: 380px;
  }
}

@media (min-width: 1225px) {
  .portfolio-grid {
    justify-content: flex-start;
  }

  .display-image,
  .portfolio-item {
    max-width: 380px;
  }
}