
.resume-grid {
	display: grid;
	grid-template-columns:1fr;
	grid-template-areas:
	"experience"
	"skills"
	"education";
	padding-bottom:60px;
}


h2, 
h3,
ul, 
span {
	font-family: 'Work Sans', sans-serif;
}

.experience {
	grid-area: experience;
}

.education {
	grid-area: education;
}

.skills {
	grid-area: skills;
}


h2 {
	font-weight: 500;
	margin-bottom: 10px;
}

ul {
	font-size:18px;
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 40px;
}

li {
	margin-bottom: 5px;
}

.company {
	font-size: 20px;
	font-weight: 500;
	display: inline-block;
	padding-right: 25px;
	margin-top:5px;
}

span.date {
	font-size: 18px;
	font-weight: 400;
	font-style: italic;
}


@media (min-width: 640px) {
	.resume-grid {
	  display: grid;
	  grid-template-columns: 2fr 1fr;
	  grid-template-areas:
	    "experience skills"
	    "experience skills";
	}
}
