
.work-container {
	display: flex;
	flex-direction: column;
	padding-top: 20px;
	max-width: 1200px;
}

.image-container {
	display: flex;
	padding: 2% 0;
	background-color: #fff3ca;
	width: 100%;
}

.work-container img {
	box-shadow: 0 0px 7px 0 rgba(0, 0, 0, 0.5);
	margin: 0 auto;
	width: 100%;
}

.zine-cover {
	max-width: 500px;
}

.zine-spread {
	max-width: 900px;
}
