
.work-container {
	display: flex;
	flex-direction: column;
	padding: 20px;
	max-width: 1200px;
	background-color: #fff3ca;
}

.image-container {
	display: flex;
	padding: 2% 0;
	width: 100%;
}

.work-container img {
	box-shadow: 0 0px 7px 0 rgba(0, 0, 0, 0.5);
	margin: 0 auto;
	width: 100%;
}

.blurb-container {
	font-size: 22px;
	line-height: 1.5;
	max-width: 700px;
	margin: 0 auto;
}

.zine-cover {
	max-width: 500px;
}

.zine-spread {
	max-width: 900px;
}
